body {
    width: 200px;
    height: 80px;
}

.btn-group button {
    background-color: #ffffff; 
    border: 1px solid #cfcdcc; 
    color: #454545;
    cursor: pointer;
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}

.btn-group button:hover {
    color: #ffffff;
    background-color: #4786e3;
}

.icon {
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-origin: content-box, padding-box;
}

.start-record {
    background-image: url(icons/youtube.svg);
}

.stop-record {
    background-image: url(icons/times.svg);
}