body {
    width: 250px;
    height: 100%;
}

.button-style {
    background-color: #ffffff;
    border: none;
    color: #454545;
    cursor: pointer;
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.button-style:hover {
    color: #ffffff;
    background-color: #4786e3;
}

.icon {
    margin-right: 15px;
}

.divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cfcdcc;
}

.show {
    display: block;
}

.hide {
    display: none;
}